.error-404 {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f9fa;
}

.error-404 .page-header .page-title {
    margin-top: 280px;
    font-size: 3em;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.error-404 .page-content {
    margin-top: 100px;
    margin-bottom: 400px;
    font-size: 1.2em;
    color: #000000;
}

.error-404 .page-content p {
    margin-bottom: 20px;
}

.error-404 .page-content a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.error-404 .page-content a:hover {
    text-decoration: underline;
}



/* mobiles */
@media (max-width: 575px) {
    .error-404 .page-header .page-title {
        font-size: 2em;
        margin-top: 100px;
    }
    .error-404 .page-content {
        margin-bottom: 200px;
    }
}
