/* Styliser les filtres */
#filters {
    display: flex;
    justify-content: space-around; 
    margin-top: 80px;
  margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.filter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-group select {
    padding: 15px 25px; 
    border: 1px solid #ccc;
    border-radius: 7px; 
    font-family: 'Space Mono', monospace;
    font-size: 16px; 
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E"); /* Icône de flèche */
    background-repeat: no-repeat;
    background-position: right 15px center; 
    background-size: 12px;
}

#left-filters {
    padding-right: 20px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#right-filter {
    margin-right: 0;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.filter-group select:focus {
    outline: none;
    border-color: #007BFF; 
}

.filter-group select option {
    padding: 10px;
    font-family: 'Space Mono', monospace;
}

.filter-group select option.custom-hover {
    background-color: #d9534f !important;
    color: white !important;
}

/* Custom select styles */
.custom-select {
    position: relative;
    display: inline-block;
    width: 200px; 
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

.custom-select select {
    display: none; 
}

#category-select{
    width: 47%;
}
#category-select:focus{
    border-color: #007BFF !important; 
}

.select-selected {
    background-color: #fff;
    border: 2px solid #cccccc; 
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
#category-filter{
    width: 100%;
}
#format-select{
    width: 47%;
}
#order-select{
    width: 47%;
}

.select-selected:hover {
    position: relative;
    z-index: 20 !important;
    outline: none;
    border-color: #007BFF !important; /* Bordure bleue au focus */
}
.select-selected:focus {
    position: relative;
    z-index: 20 !important;
    outline: none;
    border-color: #007BFF !important; /* Bordure bleue au focus */
}

.select-selected::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    pointer-events: none;
    transition: transform 0.3s; /* transition pour la rotation */

}

.select-arrow-active::after {
    transform: rotate(225deg); /* Rotation de l'icône lorsque le sélecteur est actif */
}

.select-items {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 99;
    width: 100%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    padding-top: 50px; 
    border-radius: 0 0 5px 5px;
}



.select-items div {
    color: #333;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.select-items div:hover,
.select-items .same-as-selected {
    background-color: #d9534f; 
    color: white;
}

.select-hide {
    display: none;
}

.no-photos-message {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin: 20px 0;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Tablettes */
@media (max-width: 991px) {
    #filters{
        margin-top: 50px;
    }
    .select-selected::after{
        height: 8px;
        width: 8px;
        font-size: 8px;
        top: 14px;
    }
    .custom-select{
   font-size: 12px;
}
    .custom-select::after{
   font-size: 12px;
}
.select-arrow-active::after {
   font-size: 10px;
}
.arrow-text{
    display: none;
}
}

@media (max-width: 769px) {
    #filters{
        margin-top: 50px;
    }
    .select-selected::after{
        height: 8px;
        width: 8px;
        font-size: 8px;
        top: 14px;
    }
    .custom-select{
   font-size: 12px;
}
    .custom-select::after{
   font-size: 12px;
}
.select-arrow-active::after {
   font-size: 10px;
}

}


/* mobiles */
@media (max-width: 575px) {

#filters{
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
#left-filters{
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    padding-right: 0;
    gap: 7px;
    width: 80%;

}
#right-filter{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#category-select, #format-select, #order-select {
    width: 100%;
}
.select-selected{
    width: 100%;
    padding-right: 0;
    padding: 15px 20px;
    border-radius: 8px;

}

 .select-selected::after {
    right: 26px;
    top: 18px;
}
}
