/* Styles for the hero section */
.hero {
    width: 100%;
    height: 962px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center; 
    opacity: 0; /* Start with hidden */
    transform: translateY(-50px); /* Initial position */
    transition: opacity 2s, transform 2s;
}


.hero img {
    width: 100%;
    height: 962px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-text h1 {
    width: 100%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent; 
    -webkit-text-stroke: 2px white; 
    font-family: 'Space Mono', monospace;
    font-size: 8rem; 
    font-style: italic;
    text-transform: uppercase; 
    letter-spacing: 5px; 
    font-weight: bold;
}

.rotated-word {
    display: inline-block;
}

.letter {
    display: inline-block;
    opacity: 0;
    transform: rotateY(0deg) translateZ(-100px);
    transition: transform 2s, opacity 2s;
}

.letter.visible {
    opacity: 1;
    transform: rotateY(360deg) translateZ(0);
}

.letter.space {
    display: inline-block;
    width: 0.5em; /* Adjust this value to control space width */
    transform: none;
    transition: none;
    opacity: 1;
}

/* Media Queries */

@media (max-width: 1540px) {
    .hero-text h1  {
        font-size: 3.9rem !important; 
        letter-spacing: 4px; 
    }
}


@media (max-width: 1199px) {
    .hero-text  {
        font-size: 3rem; 
        letter-spacing: 4px; 
    }
}

/* Tablettes */
@media (max-width: 991px) {
    .hero {
        height: 662px;
    }
    .hero  img{
        height: 662px;
    }
}


@media (max-width: 769px) {
    .hero {
        height: 662px;
    }
    .hero  img{
        height: 662px;
    }
}


/* mobiles */
@media (max-width: 575px) {
    .hero {
        height: 253px;
      }
    .hero img {
        height: 253px;
      }
    .hero-text h1 {
        font-size: 1.6rem !important;
        font-weight: 800;
      }

    .hero {
        height: 253px;
      }
    .hero img {
        height: 253px;
      }
    .hero-text h1 {
        font-size: 1.6rem !important;
        color: transparent;
        -webkit-text-stroke: 1px white;
        font-size: 1.2rem !important;
    }
}




