/* Styliser la liste des photos */
#photo-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    gap: 20px; 
    max-width: 85%; 
    margin: 0 auto; 
}

#photo-list .photo-item {
    position: relative;
    overflow: hidden; 
    border-radius: 10px;
    height: 836px; 
}

#photo-list .photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}


/* Styliser le bouton "Voir plus de photos" */
#load-more {
    display: block;
    margin: 60px auto;
    padding: 20px 100px;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #D8D8D8;
    color: #000000;
    cursor: pointer;
    position: relative; /* Position relative pour l'utilisation de pseudo-éléments */
    overflow: hidden; /* Masquer l'onde en dehors du bouton */
    z-index: 0; /* Assure que l'onde est en dessous du texte */
}

#load-more::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 10%;
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 1);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s, filter 0.5s;
    pointer-events: none;
    z-index: -1; /* Assure que l'onde est derrière tout */
}

#load-more:hover::before {
    opacity: 1;
    animation: ripple 0.5s ease-out forwards;
}

#load-more:hover {
    color: #FFFFFF;

}


.photo-item {
    position: relative;
    overflow: hidden;
}

.photo-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.photo-item:hover img {
    transform: scale(1.1);
}

.photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.photo-item:hover .photo-overlay {
    opacity: 1;
}

.icon {
    color: white;
    font-size: 24px;
    margin: 10px;
    transition: color 0.3s ease-in-out;
}

.icon:hover {
    color: #d9534f; 
}

.icon.fullscreen {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}

.photo-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
}

.photo-reference {
    text-align: left;
}

.photo-category {
    text-align: right;
}



/* Media Queries */

@media (max-width: 1280px) {
    #photo-list .photo-item{
        height: 636px;
    }
}

/* Tablettes */
@media (max-width: 991px) {
    #photo-list .photo-item{
        height: 436px;
    }
}


@media (max-width: 768px) {
    #photo-list .photo-item{
        height: 290px;
    }
}


/* mobiles */
@media (max-width: 575px) {
    #photo-list {
        grid-template-columns: repeat(1, 1fr);
        max-width: 85%;
    }

    #load-more{
        padding: 18px 60px;
    }
}
